.case{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor:pointer;
    background-color: rgb(18, 214, 214);
    text-align: center;
}
.caseCommande{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(5, 119, 119);
    text-align: center;
    font-weight: bolder;
}
